{
  "presets": [["env" , {
      "targets" : {
        "node": "current"
      }
    }], "react", "stage-2"],
  "plugins": [["react-css-modules", {
    "handleMissingStyleName": "ignore",
    "removeImport": true
  }]],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
